/* header */

.header{
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 5px;
  height: 75px;
  top: 0;
  left: 0;
  right: 0;
}

.header h3{
  color: MediumAquamarine;
  display: inline;
  align-items: center;
  margin-left: 3px;
}

.header nav{
  display: inline-block;
}

.header a{
  color: black;
  justify-content: space-between;
  margin: 3px;
  margin-right: 5px;
  padding: 6px;
}

.logo{
  display: inline-flex;
  margin-left: 15px;
  border: 1px solid black;
}

/* content */

.content{
  border: 1px solid black;
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
}

.content .large{
  width: 630px;
  border: 1px solid black;
  display: inline-block;
}

.content .medium{
  width: 300px;
  border: 1px solid black;
  display: inline-block;
}

.content .small{
  width: 240px;
  border: 1px solid black;
  display: inline-block;
}

.lead-story{
  border: 1px solid black;
}

.stories{
  border: 1px solid black;
}

.story{
  border: 1px solid black;
}

.img-content{
  background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  height: 300px;
  border: 1px solid black;
}

.img-content-fall{
  background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
  height: 300px;
  border: 1px solid black;
}

.img-content-popculture{
  background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
  height: 300px;
  border: 1px solid black;
}

.img-content-cat{
  background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
  height: 300px;
  border: 1px solid black;
}

.news-bites{
  border: 1px solid black;
}
