/* header */

.header{
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.header h3{
  color: MediumAquamarine;
  display: inline;
  align-items: center;
  margin-left: 3px;
}

.header nav{
  display: block;
  padding-right: 40px;
}

.header a{
  color: black;
  justify-content: space-between;
  margin: 3px;
  margin-right: 5px;
  padding: 6px;
}

.logo{
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

/* content */

.content{
  padding-top: 116px;
  display: flex;

}

.content .large{
  width: 630px;
  display: flex;
  flex-direction: column;
  margin-right: 32px;

}

.content .medium{
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.content .small{
  width: 240px;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.lead-story{

}

.img-content span{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.text-content{
  display: block;
}

.stories{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 17px;
}

.story{
  display: flex;
  flex-direction: column;
  width: 300px;
}

p{
  font-family: Georgia;
  font-size: 17px;
  color: black;
  diplay: block;
}

h2{
  display: block;
}

.img-content{
  background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  height: 300px;
  border: 1px solid black;
}

.img-content-fall{
  background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
  height: 300px;
  border: 1px solid black;
  display: block;
  flex-direction: row;
  text-align: center;
  margin-top: 15px;
}

.img-content-fall span{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;

}

.img-content-popculture{
  background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
  height: 300px;
  border: 1px solid black;
  display: block;
  flex-direction: row;
  text-align: center;
  margin-top: 15px;
}

.img-content-popculture span{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.img-content-cat{
  background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
  height: 300px;
}

.img-content-cat span{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.news-bites{
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

.news-bites h3{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.news-bites .bite{
  display: block;
  border-bottom: 1px solid black;
  padding: 11px 20px;
}
